---
- name: "Copy systemd service file."
  ansible.builtin.template:
    src: "coredns.service.j2"
    dest: "/etc/systemd/system/coredns.service"
    mode: "0644"
  notify: "Restart {{ role_name }}."

- name: "Reload systemd daemon."
  ansible.builtin.systemd:
    daemon_reload: true

- name: "Set CoreDNS systemd service state and enabled."
  ansible.builtin.systemd:
    name: "{{ coredns_service_name }}"
    enabled: "{{ coredns_service_enabled | bool }}"
    state: "{{ coredns_service_state }}"

- name: "Reconfigure CoreDNS as main DNS resolver."
  when: "coredns_dns_port == 53"
  tags:
    - "notest"
  block:
    - name: "Disable systemd-resolved."
      ansible.builtin.systemd:
        name: "systemd-resolved"
        enabled: false
        state: "stopped"

    - name: "Configure resolv.conf."
      ansible.builtin.copy:
        dest: "/etc/resolv.conf"
        content: |
          nameserver 127.0.0.1
        mode: "0644"
