#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment(decoration="; ") }}

; base domain
$ORIGIN {{ coredns_default_zone_domain }}.
; default TTL in this zone
$TTL {{ coredns_default_zone_ttl }}

; Start of Authority
@  IN  SOA  {{ ansible_facts['hostname'] }}  hostmaster (
    {{ ansible_facts['date_time'].epoch }}  ; serial number
    12h  ; Refresh
    15m  ; Retry
    1w   ; Expire
    1h   ; Minimum
)
   IN  NS  {{ ansible_facts['hostname'] }}

; managed nameserver entries
{% if ansible_facts['default_ipv4'].address is defined %}
{{ "{:20}".format(ansible_facts['hostname']) }}  IN  A       {{ ansible_facts['default_ipv4'].address }}
{% endif %}
{% if ansible_facts['default_ipv6'].address is defined %}
{{ "{:20}".format(ansible_facts['hostname']) }}  IN  AAAA    {{ ansible_facts['default_ipv6'].address }}
{% endif %}

{% if coredns_default_zone_entries | length > 0 %}
; managed host entries

{% for addr in coredns_default_zone_entries %}
{% if addr.comment is defined %}; {{ addr.comment }}
{% endif %}
{% if addr.entries is defined and addr.entries | length > 0 %}
{% for entry in addr.entries %}
{{ "{:20}".format(addr.name) }}  IN  {{ "{:6}".format(entry.type) }}  {{ "{:20}".format(entry.value) }}
{% endfor %}
{% else %}
; No entries yet!
{% endif %}

{% endfor %}
{% endif %}
